@using static Lab_17_Paupers_Reddit.Models.Pauper
@model Pauper
<form asp-action="DisplayPauper" asp-controller="Home" method="post">
    <input type="text" name="s" value="" />
    <br />
    <input type="submit" value="Search" />
    <br />
</form>

@{
    //Gets the property of the pauper if not null
    if (Model != null)
    {
        int i = 0;
        foreach (Child c in Model.data.children)
        {
            i++;
            if (i > 10)
            {
                break;
            }
            var url = c.data.url;
            //Pulls data from the thumbnail
            url = c.data.thumbnail;
           
            //Target: attribute signifies where to open a linked document
            <div>
                <h1>@i - <a target="_blank" href="https://www.reddit.com/@c.data.permalink">@c.data.title</a></h1>
                <br />
                <img src="@url" style="width:400px; height:auto" />
            </div>
            <br />
        }
    }
}